[*.cs]

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# UNT0039: Use RequireComponent attribute when self-invoking GetComponent
dotnet_diagnostic.UNT0039.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none
